Source: libfreenect
Section: science
Priority: extra
Maintainer: Mark Renouf <mark.renouf@gmail.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~), cmake, libusb-1.0-0-dev, pkg-config
Standards-Version: 3.9.1
Homepage: http://www.openkinect.org/

Package: libfreenect0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0
Description: Microsoft Kinect sensor interface
 libfreenect provides an interface to the functions of the
 Microsft Kinect sensor hardware.

Package: libfreenect-dev
Section: libdevel
Architecture: any
Depends: libfreenect0.0 (= ${binary:Version}), ${misc:Depends}, libusb-1.0-0-dev
Description: Microsoft Kinect sensor interface development files
 libfreenect provides an interface to the functions of the
 Microsft Kinect sensor hardware.
 .
 This package contains libraries and headers suitable for software
 development with libfreenect.
